/* Content limitation */
.content {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */
.site-header {
    background-color: #E76C1F;
    height: 88px;
}

.menu-button {
    background: none;
    border: none;
    padding: 0;
}

.header-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-menu-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 350px 10px 4px;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.hero-image {
    position: relative;
    width: 100%;
}

.main-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.burger-logo {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Meals */
.meal {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}

.meals-and-basket {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal-content {
    width: 100%;
    max-width: 700px;
    height: 220px;
    background-color: #fce9dc;
    margin: 32px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.meal-content-image {
    width: 220px;
    height: 170px;
    margin-left: 16px;
    object-fit: cover;
    border-radius: 8px;
}

.meal-content-describtion {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.meal-content-price-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 16px;
}

.meal-name-font {
    font-size: 24px;
}

.add-meal-button {
    border: none;
    background-color: #ffffff;
    width: 128px;
    padding: 10px;
    border-radius: 16px;
    font-weight: bold;
}

.add-meal-button:hover {
    color: #E76C1F;
    transform: translateY(0);
}


/* category title and bar slider */
.bar-slider {
    background-color: #E76C1F;
    color: white;

}

.bar-slider-inner {
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-top: 40px;
}

.bar-slider-inner-Responsive {
    font-size: 24px;
    display: flex;
    padding: 8px;
    margin-top: 40px;
    justify-content: flex-start;
    gap: 156px;
}

.bar-slider-inner a {
    text-decoration: none;
    color: white;

}

.meal-content-title {
    background-color: #E76C1F;
    color: white;
    margin: 104px 0 56px;
}

.meal-content-title-inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 24px 8px 120px;
}

.meal-content-title-h2 {
    font-size: 32px;
}

.category-icon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
}

.restaurant-name-image {
    width: 850px;
}

.site-header {
    height: 65px;
}

/* Order Confirmation Dialog */
.order-confirmation {
    background-color: #363534;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-confirmation::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.confirmation-text {
    color: #fce9dc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-icon {
    width: 88px;
}

/* FOOTER */
.site-footer {
    background-color: #E76C1F;
    height: 80px;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 24px;
}