/* content limitation */
.Content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 16px;
}


/* Header */
.SiteHeader {
    background-color: #E76C1F;
    height: 80px;
}

.MenuButton {
    background: none;
    border: none;
    padding: 0;
}



/* Header Logo */
.HeaderLogoMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.HeaderLogoMenu img {}



/* main */
.SiteMain {
    flex: 1;
}

/* hero images */
.HeroImages {
    position: relative;
}


.MainImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.BurgerLogo {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NameOfRestaurantImage {
    display: flex;
    justify-content: center;
    margin-top: 88px;
}

/* meals */
.MealContentTitleH2{
    font-size: 32px;
}
.MealContentTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E76C1F;
    margin: 104px 0;
    color: white;
    font-size: 40px;
    gap: 100px;
    padding: 5px 0 5px 300px;

}

.MealContentTitle img {
    position: absolute;
    left: 136px;
}

.MealContent {
    width: 700px;
    height: 160px;
    background-color: #fce9dc;
    margin: 32px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.MealContentImage {
    width: 220px;
    height: 130px;
    margin-left: 16px;
}

.MealContentDescribtion {
    width: 50%;
    align-self: flex-start;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 14px 8px 14px 0;
    gap: 16px;
}

.MealContentPriceAndButton {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 16px 16px 0;
    justify-content: space-between;
    align-items: center;
}

.MealContentPriceAndButton button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Footer */
.SiteFooter {
    background-color: #E76C1F;
    height: 80px;
}