/* CONTENT LIMITATION */
.Content {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */
.SiteHeader {
    background-color: #E76C1F;
    height: 88px;
}

.MenuButton {
    background: none;
    border: none;
    padding: 0;
}

.HeaderLogoMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* MEALS + BASKET LAYOUT */
.MealsAndBasket {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

/* MEALS CONTAINER */
.Meals {
    display: flex;
    flex-direction: column;
}

/* CATEGORY TITLE */
.MealContentTitle {
    background-color: #E76C1F;
    color: white;
    margin: 104px 0 56px;
}

.MealContentTitleInner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 24px 12px 120px;
}

.MealContentTitleH2 {
    font-size: 32px;
}

.CategoryIcon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
}

/* SINGLE MEAL */
.MealContent {
    width: 700px;
    height: 160px;
    background-color: #fce9dc;
    margin: 32px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
}

/* MEAL PARTS */
.MealContentImage {
    width: 220px;
    height: 130px;
    margin-left: 16px;
}

.MealContentDescribtion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.MealContentPriceAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 16px;
}

.MealContentPriceAndButton button {
    background: none;
    border: none;
    cursor: pointer;
}

/* BASKET */
.Basket {
    width: 308px;
    min-height: 600px;
    background-color: #E76C1F;
    position: fixed;
    top: 100px;
    right: 100px;
}

/* HERO */
.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.HeroImage {
    position: relative;
    width: 100%;
}

.MainImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.BurgerLogo {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER */
.SiteFooter {
    background-color: #E76C1F;
    height: 80px;
}