.basket {
    width: 350px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.toggle-basket {
    display: none;
}
.basket.open {
  transform: translateX(0);
}


.basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d37b40;
    flex: 1;
    overflow-y: auto;
}



.basket-title {
    margin-bottom: 8px;
    color: #d37b40;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.basket-meal {
    color: #c06427;
    background-color: #fce9dc;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    gap: 32px;
    align-items: flex-end;
    margin-bottom: 16px;
    justify-content: space-between;
}

.basket-meal-name {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.delet-icon {
    width: 18px;
    height: 18px;
}

.plus-minus-delet-icon {
    width: 24px;
}

.basket-icons-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.basket-icons-block button {
    background: none;
    border: none;
    padding: 0;
}

.basket-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket-price-table {
    color: #d37b40;
    margin-bottom: 0;
}

.basket-price-table td {
    padding: 16px 40px;
}

.basket-split-line {
    height: 1px;
    width: 100%;
    background-color: #d37b40;
}

.buy-now-button {
    background-color: #d37b40;
    width: 140px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 32px;
}

.basket-button-icon {
    position: fixed;
    bottom: 104px;
    right: 32px;
    border: none;
    background: none;

}

.basket-button-icon img {
    width: 40px;
    position: relative;
}

.basket-close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.basket-count {
    position: absolute;
}

.empty-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.empty-basket-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.exit-icon{
    width: 24px;
}