* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.site-main {
    flex: 1;
    min-height: 100vh;
}

button {
    cursor: pointer;

}

dialog:not([open]) {
    display: none;
}

.basket-count:empty {
    display: none;
}

.no-scroll {
    overflow: hidden;
}
