/* ===== CSS RESET / BASE ===== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.SiteMain {
    flex: 1;
    min-height: 100vh;
}


button {
    cursor: pointer;
}