/* ===== CSS RESET / BASE ===== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



body {
    display: flex;
    flex-direction: column;
}

.site-main {
    flex: 1;
    min-height: 100vh;
}


button {
    cursor: pointer;
}